<img src="https://github.com/flaviapb/Estatistica-aplicada-a-computa-o/blob/main/Atividade08/cabe%C3%A7alho08-lista8.png?raw=true"></img>

In [1]:
import pandas as pd
import numpy as np

<p><center><strong>1. Determine se os dados são qualitativos ou quantitativos. Explique seu raciocínio.</strong></center><p>

<p><strong><center>(a) Alturas de balões de ar quente:</center></strong><p>

In [2]:

print("EXPLICAÇÃO: Visto que a altura é avaliada em números, e seu resultado é encontrado por um tipo de medição.")

tipo = pd.DataFrame({"ALTURAS DE BALÕES DE AR QUENTE":["QUANTITATIVA"]})
tipo.index = ["TIPO"]
tipo

EXPLICAÇÃO: Visto que a altura é avaliada em números, e seu resultado é encontrado por um tipo de medição.

     ALTURAS DE BALÕES DE AR QUENTE
TIPO                   QUANTITATIVA

<p><strong><center>(b) Capacidades de carga de caminhonetes:</center></strong><p>

In [3]:
print("Como foi visto na letra a, essa capacidade de carga estão nas variáveis contínuas, e podem ser medidas por meio de instrumentos, por exemplo.")
tipo = pd.DataFrame({"Capacidades de carga de caminhonetes":["QUANTITATIVA"]})
tipo.index = ["TIPO"]
tipo

Como foi visto na letra a, essa capacidade de carga estão nas variáveis contínuas, e podem ser medidas por meio de instrumentos, por exemplo.

     Capacidades de carga de caminhonetes
TIPO                         QUANTITATIVA

<p><strong><center>(c) Cores dos olhos de modelos:</center></strong><p>

In [4]:
print("Visto que não possue valor quantitativo, podemos classificar como variáveis nominais, ou seja, não existe ordenação dentre essa categoria.")
tipo = pd.DataFrame({"Cores dos olhos de modelos":["QUALITATIVAS"]})
tipo.index = ["TIPO"]
tipo

Visto que não possue valor quantitativo, podemos classificar como variáveis nominais, ou seja, não existe ordenação dentre essa categoria.

     Cores dos olhos de modelos
TIPO               QUALITATIVAS

<p><strong><center>(d) Números de identidade de estudantes:</center></strong><p>

In [5]:
print("já que está representando uma classificação dos indivíduos.")
tipo = pd.DataFrame({"Números de identidade de estudantes":["QUALITATIVAS"]})
tipo.index = ["TIPO"]
tipo

já que está representando uma classificação dos indivíduos.

     Números de identidade de estudantes
TIPO                        QUALITATIVAS

<p><strong><center>(d) Respostas em uma pesquisa de opinião: </center></strong><p>

In [6]:
print("já que são atribuições/qualidade feito por cada pessoa, se preocupando apenas com a categoria de cada variável.")
tipo = pd.DataFrame({"Respostas em uma pesquisa de opinião":["QUALITATIVAS"]})
tipo.index = ["TIPO"]
tipo

já que são atribuições/qualidade feito por cada pessoa, se preocupando apenas com a categoria de cada variável.

     Respostas em uma pesquisa de opinião
TIPO                         QUALITATIVAS

<p><strong><center>2. Na tabela abaixo temos informações sobre o sexo, a matéria predileta (Português, Matemática, História, Geografia ou Ciências) no 2 o grau e a nota (número de questões certas) em
um teste de múltipla escolha com 10 questões de matemática, ministrado no primeiro dia
de aula dos calouros de Administração de uma universidade (dados fictícios).</center></strong><p>

<p><strong><center>(a) Classifique as variáveis envolvidas;</center></strong><p>

In [7]:
dados = pd.DataFrame({"SEXO":["QUALITATIVA"],"PREDILETA":["QUALITATIVA"],"NOTA":["QUALITATIVA"]})
dados.index = ["TIPO"]
dados

             SEXO    PREDILETA         NOTA
TIPO  QUALITATIVA  QUALITATIVA  QUALITATIVA

<p><strong><center>(b) Construa a tabela de freqüências apropriada para cada uma das variáveis qualitativas.
</center></strong></p>

In [8]:
dadosgenero = pd.DataFrame({"SEXO":["F","M","F","F","M","M","F","F","F","M","F","M","M","M","M","M","F","F","M","M","F","F","M","M","F","F",
                 "M","M","F","F","F","M","M","F","M","M","F","M","F","F","F","M"]}).value_counts().to_frame()

total = pd.concat([dadosgenero,dadosgenero.sum().to_frame()])
print("\nCalouros de Administração Avaliados:")
total.index=["FEMININOS","MASCULINOS","TOTAL"]
total.columns=["Quantidade"]
total

Calouros de Administração Avaliados:

            Quantidade
FEMININOS           21
MASCULINOS          21
TOTAL               42

In [9]:
#Os dados usados aqui, foram encontrados na célula acima.

dadosgenero = pd.DataFrame({"FREQUENCIA ABSOLUTA":[21,21,42],
                            "FREQUENCIA RELATIVA":[21/42,21/42,42/42]})
dadosgenero.index=["FEMININOS","MASCULINOS","TOTAL"]
dadosgenero.columns=["FREQUENCIA ABSOLUTA","FREQUENCIA RELATIVA"]
dadosgenero

            FREQUENCIA ABSOLUTA  FREQUENCIA RELATIVA
FEMININOS                    21                  0.5
MASCULINOS                   21                  0.5
TOTAL                        42                  1.0

In [10]:
dadospredileta = pd.DataFrame({"PREDILETA":["H","M","P","H","C","H","M","P","H","C","P","M","G","G","M","M","P","G","G","P","M","G","H","M","P",
                                       "G","C","H","M","P","M","G","H","M","P","G","M","P","M","M","P","M"]}).value_counts().to_frame()
print("Calouros de Administração Avaliados:")
total = pd.concat([dadospredileta ,dadospredileta.sum().to_frame()])
total.index=["MATEMÁTICA","PORTUGUÊS","GEOGRAFIA","HISTÓRIA","CIÊNCIAS","TOTAL"]
total.columns=["Quantidade"]
total

Calouros de Administração Avaliados:

            Quantidade
MATEMÁTICA          14
PORTUGUÊS           10
GEOGRAFIA            8
HISTÓRIA             7
CIÊNCIAS             3
TOTAL               42

In [11]:
#Os dados usados aqui, foram encontrados na célula acima.

dadospredileta= pd.DataFrame({"FREQUENCIA ABSOLUTA":[14,10,8,7,3,42],
                                "FREQUENCIA RELATIVA":["{:.2f}".format(14/42),"{:.2f}".format(10/42),"{:.2f}".format(8/42),
                                                   "{:.2f}".format(7/42),"{:.2f}".format(3/42),"{:.2f}".format(42/42)]})
dadospredileta.index=["MATEMÁTICA","PORTUGUÊS","GEOGRAFIA","HISTÓRIA","CIÊNCIAS","TOTAL"]
dadospredileta.columns=["FREQUENCIA ABSOLUTA","FREQUENCIA RELATIVA"]
dadospredileta

            FREQUENCIA ABSOLUTA FREQUENCIA RELATIVA
MATEMÁTICA                   14                0.33
PORTUGUÊS                    10                0.24
GEOGRAFIA                     8                0.19
HISTÓRIA                      7                0.17
CIÊNCIAS                      3                0.07
TOTAL                        42                1.00

In [12]:
dadosnotas = pd.DataFrame({"NOTA":[5,8,8,6,5,6,8,4,2,6,8,2,4,9,7,1,8,5,9,5,8,6,3,5,5,5,7,4,7,7,6,6,9,8,5,6,7,5,5,5,9,8]}).value_counts().to_frame()
print("Calouros de Administração Avaliados:")
total = pd.concat([dadosnotas,dadosnotas.sum().to_frame()])
total.index=["NOTA-1","NOTA-2","NOTA-3","NOTA-4","NOTA-5","NOTA-6","NOTA-7","NOTA-8","NOTA-9","TOTAL"]
total.columns=["Quantidade"]
total

Calouros de Administração Avaliados:

        Quantidade
NOTA-1          11
NOTA-2           8
NOTA-3           7
NOTA-4           5
NOTA-5           4
NOTA-6           3
NOTA-7           2
NOTA-8           1
NOTA-9           1
TOTAL           42

In [13]:
#Os dados usados aqui, foram encontrados na célula acima.

dadosnota = pd.DataFrame({"FREQUENCIA ABSOLUTA":[1,2,1,3,11,7,5,8,4,42],
                          "FREQUENCIA RELATIVA":["{:.2f}".format(1/42),"{:.2f}".format(2/42),"{:.2f}".format(1/42),
                                                 "{:.2f}".format(3/42),"{:.2f}".format(11/42),"{:.2f}".format(7/42),
                                                 "{:.2f}".format(5/42),"{:.2f}".format(8/42),"{:.2f}".format(4/42),"{:.2f}".format(42/42)]})
dadosnota.index=["NOTA-1","NOTA-2","NOTA-3","NOTA-4","NOTA-5","NOTA-6","NOTA-7","NOTA-8","NOTA-9","TOTAL"]
dadosnota.columns=["FREQUENCIA ABSOLUTA","FREQUENCIA RELATIVA"]
dadosnota

        FREQUENCIA ABSOLUTA FREQUENCIA RELATIVA
NOTA-1                    1                0.02
NOTA-2                    2                0.05
NOTA-3                    1                0.02
NOTA-4                    3                0.07
NOTA-5                   11                0.26
NOTA-6                    7                0.17
NOTA-7                    5                0.12
NOTA-8                    8                0.19
NOTA-9                    4                0.10
TOTAL                    42                1.00

<p><strong><center>3. Considere os dados da tabela abaixo, referentes a um levantamento feito por professores da Universidade Federal de Santa Catarina (UFSC), onde o principal objetivo era avaliar
os efeitos políticos dos programas de alimentação popular. Aqui temos dados referentes a
40 famílias resi- dentes no Conjunto Residencial Monte Verde, considerando as seguintes
variáveis:<br>
<br>• PAP: variável indicadora de uso de programas de alimentação (1 = Sim; 0 = Não);<br>
<br>• GI: grau de instrução do chefe da casa (1 = nenhum grau oficialmente completo; 2 = primeiro grau completo; 3 = segundo grau completo);<br>
<br>• RES: número de pessoas residentes na casa;<br>
<br>• RENDA: renda familiar mensal, em salários mínimos.</center></strong></p>

<p><strong><center>(a) Classifique as variáveis envolvidas;</center></strong></p>

In [14]:
dados = pd.DataFrame({"PAP":["QUALITATIVA"],"GUI":["QUALITATIVA"],"RES":["QUANTITATIVA"],"RENDA":["QUANTITATIVA"]})
dados.index = ["TIPO"]
dados

              PAP          GUI           RES         RENDA
TIPO  QUALITATIVA  QUALITATIVA  QUANTITATIVA  QUANTITATIVA

<p><strong><center>(b) Construa a tabela de freqüências apropriada para cada uma das variáveis qualitativas.</center></strong></p>

In [15]:
dadospap = pd.DataFrame({"PAP":[0,0,1,0,1,1,0,1,1,1,0,1,0,0,0,0,1,0,0,1,1,1,0,0,0,1,1,0,1,0,1,1,1,1,1,1,1,1,1,1]}).value_counts().to_frame()
print("Uso de programas de alimentação:")
total = pd.concat([dadospap,dadospap.sum().to_frame()])
total.index=["UTILIZA","NÃO UTILIZA","TOTAL"]
total.columns=["Quantidade"]
total

Uso de programas de alimentação:

             Quantidade
UTILIZA              24
NÃO UTILIZA          16
TOTAL                40

In [16]:
#Os dados usados aqui, foram encontrados na célula acima.

dadospap = pd.DataFrame({"FREQUENCIA ABSOLUTA":[24,16,40],
                         "FREQUENCIA RELATIVA":["{:.2f}".format(24/40),"{:.2f}".format(16/40),"{:.2f}".format(40/40)]})
dadospap.index=["UTILIZA","NÃO UTILIZA","TOTAL"]
dadospap.columns=["FREQUENCIA ABSOLUTA","FREQUENCIA RELATIVA"]
dadospap

             FREQUENCIA ABSOLUTA FREQUENCIA RELATIVA
UTILIZA                       24                0.60
NÃO UTILIZA                   16                0.40
TOTAL                         40                1.00

In [17]:
dadosGI = pd.DataFrame({"GI":[3,3,2,2,3,1,3,3,3,2,2,1,2,2,3,2,3,3,3,3,3,3,3,2,2,3,1,3,2,3,3,2,3,1,1,1,3,3,3,3]}).value_counts().to_frame()
print("Grau de instrução do chefe da casa")
total = pd.concat([dadosGI,dadosGI.sum().to_frame()])
total.index=["GRAU-3","GRAU-2","GRAU-1","TOTAL"]
total.columns=["Quantidade"]
total

Grau de instrução do chefe da casa

        Quantidade
GRAU-3          23
GRAU-2          11
GRAU-1           6
TOTAL           40

In [18]:
#Os dados usados aqui, foram encontrados na célula acima.

dadosGI = pd.DataFrame({"FREQUENCIA ABSOLUTA":[6,11,23,40],
                         "FREQUENCIA RELATIVA":["{:.2f}".format(6/40),"{:.2f}".format(11/40),"{:.2f}".format(23/40),"{:.2f}".format(40/40)]})
dadosGI.index=["GRAU-1","GRAU-2","GRAU-3","TOTAL"]
dadosGI.columns=["FREQUENCIA ABSOLUTA","FREQUENCIA RELATIVA"]
dadosGI

        FREQUENCIA ABSOLUTA FREQUENCIA RELATIVA
GRAU-1                    6                0.15
GRAU-2                   11                0.28
GRAU-3                   23                0.57
TOTAL                    40                1.00