<h4>Campus Campina Grande</h4>
<h4>Curso: Engenharia de Computação</h4>
<h4>Disciplina: Estatística aplicada a computação</h4>
<h4>Professor: Paulo Ribeiro Lins Júnior</h4>
<h4>Aluno: Flávia Renata Vieira do Nascimento</h4>
<hr>
<center><h1 style="color:Blue;">Lista de Exercicio da Semana 5</h1></center> 
<hr>
<br>

<h3><center>QUESTÃO 1</center></h3>

In [1]:
import pandas as pd
import numpy as np


#Importando via URL cada arquivo sobre o grupo de pesquisa.
grupopesquisa_2019 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=36818', encoding='iso-8859-1')
grupopesquisa_2018 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=33102', encoding='iso-8859-1')

#Importando via URL cada arquivo sobre a relação de pesquisadores.
relacaopesquisadores_2019 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=36821', encoding='iso-8859-1')
relacaopesquisadores_2018 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=33103', encoding='iso-8859-1')

#Importando via URL cada arquivo sobre a relação de pesquisa.
relacaopesquisa_2019 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=36822', encoding='iso-8859-1')
relacaopesquisa_2018 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=33101', encoding='iso-8859-1')

#Importando via URL cada arquivo sobre projeto de extensão.
projetoextensao_2019 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=36482', encoding='iso-8859-1')
projetoextensao_2018 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=33131', encoding='iso-8859-1')

#Importando via URL cada arquivo sobre evento de extensão.
eventoextensao_2019 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=36480', encoding='iso-8859-1')
eventoextensao_2018 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=33130', encoding='iso-8859-1')

In [2]:
#TRATANDO CADA LINHA DO GRUPO DE PESQUISA, DPOPANDO A 1º LINHA DE FORMA QUE NÃO FIQUE COM REPETIÇÃO.
#FOI FEITO UMA COPIA DE CADA TABELA, PARA NÃO INTERFERIR NA ORIGINAL.
copiagrupopesquisa_2018 = grupopesquisa_2018.drop([0])
copiagrupopesquisa_2018.columns=["NaN","INSTITUIÇÃO","GRUPO","Nome do Coordenador","2º LÍDER","ÁREA PREDOMINANTE"]  #RENOMEANDO AS COLUNAS.
copiagrupopesquisa_2019 = grupopesquisa_2019.drop([0])
copiagrupopesquisa_2019.columns=["INSTITUIÇÃO","GRUPO","Nome do Coordenador","ÁREA PREDOMINANTE","Unnamed: 4","Unnamed: 5"]  #RENOMEANDO AS COLUNAS.

#CONCATENANDO MEU DATAFRAME SOBRE O GRUPO DE PESQUISA
grupopesquisaTOTAL = pd.concat([copiagrupopesquisa_2019,copiagrupopesquisa_2018])
#DROPANDO COLUNAS INDEJESEJADAS
grupopesquisaTOTAL.drop(["Unnamed: 4", "Unnamed: 5", "NaN"], inplace= True, axis=1)
#MOSTRANDO A CONCATENAÇÃO NA TELA
grupopesquisaTOTAL

,INSTITUIÇÃO,GRUPO,Nome do Coordenador,ÁREA PREDOMINANTE,2º LÍDER
1,Instituto Federal de Educação Ciência e Tecnol...,Desenvolvimento Sustentável,Juliana Maria Nogueira Pereira,Ciência e Tecnologia de Alimentos,NaN
2,Instituto Federal de Educação Ciência e Tecnol...,Estudo de olerícolas orgânicas no Norte de Min...,Nelson Licínio Campos de Oliveira,Agronomia,NaN
3,Instituto Federal de Educação Ciência e Tecnol...,Grupo de Estudo e Pesquisas em Inovação do Val...,João Leandro Cássio de Oliveira,Administração,NaN
4,Instituto Federal de Educação Ciência e Tecnol...,Núcleo de estudo e pesquisa em aves e suínos,Wagner Azis Garcia de Araújo,Zootecnia,NaN
5,Instituto Federal de Educação Ciência e Tecnol...,Instrumentação médica e nuclear,Wagner Leite Araujo,Engenharia Nuclear,NaN
...,...,...,...,...,...
58,Instituto Federal de Educação Ciência e Tecnol...,Saúde Educação Trabalho e Gestão - SETEG,Wagner Luiz Mineiro Coutinho,Ciências da Saúde,Danilo Lima Carreiro
59,Instituto Federal de Educação Ciência e Tecnol...,Silvicultura na Região Norte de Minas Gerais,Marília Dutra Massad,Ciências Agrárias,Tiago Reis Dutra
60,Instituto Federal de Educação Ciência e Tecnol...,Tecnologia em Produção de Cachaça,Fabrício Silveira Santos,Ciências Agrárias,Oscar William Barbosa Fernandes
61,Instituto Federal de Educação Ciência e Tecnol...,"Valorizar, Reutilizar e Empreender",Alcides Ricardo Gomes de Oliveira,Ciências Agrárias,-
62,Total de registros: 61,NaN,NaN,NaN,NaN

In [3]:
#TRATANDO CADA LINHA DO GRUPO DE RELAÇÃO DE PESQUISADORES, DPOPANDO A 1º LINHA DE FORMA QUE NÃO FIQUE COM REPETIÇÃO.
#FOI FEITO UMA COPIA DE CADA TABELA, PARA NÃO INTERFERIR NA ORIGINAL.
copiarelacaopesquisadores_2018 = relacaopesquisadores_2018.drop([0])
copiarelacaopesquisadores_2018.columns = ["Nome do Coordenador", "Campus"] #RENOMEANDO AS COLUNAS, PARA IGUALAR AS TABELAS.
copiarelacaopesquisadores_2019 = relacaopesquisadores_2019.drop([0])
copiarelacaopesquisadores_2019.columns = ["Nome do Coordenador", "Campus"] #RENOMEANDO AS COLUNAS, PARA IGUALAR AS TABELAS.

#CONCATENANDO MEU DATAFRAME SOBRE O GRUPO DE PESQUISA
relacaopesquisadoresTOTAL = pd.concat([copiarelacaopesquisadores_2019,copiarelacaopesquisadores_2018])
#MOSTRANDO A CONCATENAÇÃO NA TELA
relacaopesquisadoresTOTAL

                  Nome do Coordenador         Campus
1           Alan Teixeira de Oliveira       Almenara
2                   Alex Lara Martins       Almenara
3                       Alfredo Costa       Almenara
4              Daiane Prates Mendonça       Almenara
5              Danuza Araújo de Souza       Almenara
..                                ...            ...
180         Gustavo Henrique de Souza  Teófilo Otoni
181  Gustavo Henrique Silva de Souza   Teófilo Otoni
182        Henrique Faria de Oliveira  Teófilo Otoni
183     Renildo Ismael Félix da Costa  Teófilo Otoni
184                Yuri Bento Marques  Teófilo Otoni

[394 rows x 2 columns]

In [5]:
#TRATANDO CADA LINHA DO GRUPO DE RELAÇÃO DE PESQUISA, DPOPANDO A 1º LINHA DE FORMA QUE NÃO FIQUE COM REPETIÇÃO.
#FOI FEITO UMA COPIA DE CADA TABELA, PARA NÃO INTERFERIR NA ORIGINAL.
copiarelacaopesquisa_2018 = relacaopesquisa_2018.drop([0])
copiarelacaopesquisa_2018.columns = ["Campus","Título","Nome do Coordenador"] #RENOMEANDO AS COLUNAS, PARA IGUALAR AS TABELAS.
copiarelacaopesquisa_2019 = relacaopesquisa_2019.drop([0])
copiarelacaopesquisa_2019.columns = ["Campus","Título","Nome do Coordenador","id"] #RENOMEANDO AS COLUNAS, PARA IGUALAR AS TABELAS.

#CONCATENANDO MEU DATAFRAME SOBRE O GRUPO DE PESQUISA
relacaopesquisaTOTAL  = pd.concat([copiarelacaopesquisa_2019,copiarelacaopesquisa_2018])
#DROPANDO COLUNAS INDEJESEJADAS                                   
relacaopesquisaTOTAL.drop(["id"], inplace=True, axis=1)
#MOSTRANDO A CONCATENAÇÃO NA TELA                                   
relacaopesquisaTOTAL

,Campus,Título,Nome do Coordenador
1,Almenara,Aprimorar é preciso: Pesquisa de percepção sob...,Alfredo Costa
2,Almenara,Produção de guias de estudo para o modelo de s...,Regina Mendes de Araújo
3,Almenara,Avaliação Gerencial em Administração Pública: ...,Dayane Patrícia Cunha de França
4,Almenara,Análise do Perfil Epidomiologia da Hanseníase ...,Leila Conceição de Paula Miranda
5,Almenara,Entomofauna da Graviola Associado ao Cultivo e...,José Maria Gomes Neves
...,...,...,...
282,Teófilo Otoni,"Comportamento Empreendedor, Valores Básicos e ...",Gustavo Henrique Silva de Souza
283,Teófilo Otoni,Modelos Motivacionais Padronizados na Administ...,Gustavo Henrique Silva de Souza
284,Teófilo Otoni,Tanque guarda-chuva: Desenvolvimento de Sistem...,Renildo Ismael Félix da Costa
285,Teófilo Otoni,"Comportamento Empreendedor, Valores Básicos e ...",Gustavo Henrique de Souza
286,Teófilo Otoni,Clima Organizacional e Padrões Individuais no ...,Gustavo Henrique Silva de Souza

In [6]:
#TRATANDO CADA LINHA DO PROJETO DE EXTENSÃO
#FOI FEITO UMA COPIA DE CADA TABELA, PARA NÃO INTERFERIR NA ORIGINAL.
copiaprojetoextensao_2018 = projetoextensao_2018
copiaprojetoextensao_2018.columns = ["Título","Nome do Coordenador","Campus"]#RENOMEANDO AS COLUNAS, PARA IGUALAR AS TABELAS.
copiaprojetoextensao_2019 = projetoextensao_2019
copiaprojetoextensao_2019.columns = ["Título","Nome do Coordenador","Campus","Período de Execução"]#RENOMEANDO AS COLUNAS, PARA IGUALAR AS TABELAS.

#CONCATENANDO MEU DATAFRAME SOBRE O PROJETO DE EXTENSÃO
projetoextensaoTOTAL = pd.concat([copiaprojetoextensao_2019,copiaprojetoextensao_2018])
#DROPANDO COLUNAS INDEJESEJADAS
projetoextensaoTOTAL.drop(["Período de Execução"], inplace=True, axis=1)
#MOSTRANDO A CONCATENAÇÃO NA TELA
projetoextensaoTOTAL

,Título,Nome do Coordenador,Campus
0,Análise da qualidade da água para o consumo hu...,Roberta Pereira Matos,ALMENARA
1,Desenvolvendo o Empreendedorismo Local: Ações ...,Paulo Eduardo Ferreira dos Santos,ALMENARA
2,Desenvolvimento de atividades para demonstraçã...,Edimilson Alves Barbosa,ALMENARA
3,Resgate e valorização de sementes de Feijão-Ca...,Jose Maria Gomes Neves,ALMENARA
4,EDUCAÇÃO EM SAÚDE SOBRE DOENÇAS CRÔNICAS NÃO -...,Leila Conceicao de Paula Miranda,ALMENARA
...,...,...,...
278,Projeto Acompanhamento de Egressos,Yuri Bento Marques,Teófilo Otoni
279,Projeto de Elaboração do Portfólio de Oportuni...,Yuri Bento Marques,Teófilo Otoni
280,Mucuri Cultura e Arte,Leandro de Paula Liberato,Teófilo Otoni
281,Desenvolvendo o Empreendedorismo Local: Ações ...,Gustavo Henrique Silva de Souza,Teófilo Otoni
282,Sustentabilidade Ambiental: Gerenciamento de R...,Ivan Carlos Carreiro Almeida,Teófilo Otoni

In [7]:
#TRATANDO CADA LINHA DO EVENTO DE EXTENSÃO, DPOPANDO A 1º LINHA DE FORMA QUE NÃO FIQUE COM REPETIÇÃO.
copiaeventoextensao_2018 = eventoextensao_2018.drop([0])
copiaeventoextensao_2018.columns = ["CONGRESSO","NaN"] #RENOMEANDO AS COLUNAS, PARA IGUALAR AS TABELAS.
#TRATANDO CADA LINHA DO GRUPO DE EVENTO DE EXTENSÃO
copiaeventoextensao_2019 = eventoextensao_2019
copiaeventoextensao_2019.columns = ["Tipo de Evento","Descrição Sumária do Evento","Campus"]#RENOMEANDO AS COLUNAS, PARA IGUALAR AS TABELAS.

#CONCATENANDO MEU DATAFRAME SOBRE O EVENTO DE EXTENSÃO
eventoextensaoTOTAL = pd.concat([copiaeventoextensao_2019,copiaeventoextensao_2018])
#DROPANDO COLUNAS INDEJESEJADAS
eventoextensaoTOTAL.drop(["NaN","CONGRESSO"], inplace=True, axis=1)
#MOSTRANDO A CONCATENAÇÃO NA TELA
eventoextensaoTOTAL

,Tipo de Evento,Descrição Sumária do Evento,Campus
0,Exposição e Feira,Festa da Mandioca cujo o principal objetivo é ...,Almenara
1,Cursos FIC,Curso para Agente Comunitário de Saúde,Almenara
2,Cursos Celin,Curso de Inglês,Almenara
3,Cursos Celin,Curso de Espanhol,Almenara
4,Cursos Curta duração,Curso de Robótica criativa com Scratch e Arduino,Almenara
...,...,...,...
119,NaN,NaN,NaN
120,NaN,NaN,NaN
121,NaN,NaN,NaN
122,NaN,NaN,NaN
123,NaN,NaN,NaN

In [8]:
"""AQUI FOI FEITO UMA "CONCATENAÇÃO PARCIAL", OU SEJA, JUNTEI MAIS DA METADE DAS TABELAS COM EXCEÇÃO DA PRIMEIRA,
POIS ESTAVA CAUSANDO UM ERRO QUE ERA O FATO DE TODA TABELA DE GRUPO DE PESQUISADORES VIM COM NaN."""
concatPARCIAL = pd.concat([relacaopesquisadoresTOTAL,relacaopesquisaTOTAL,projetoextensaoTOTAL,eventoextensaoTOTAL])
#AQUI EU DROPEI TODOS OS VALORES NULOS DO DATAFRAME.
concatPARCIAL.dropna(how="all")

,Nome do Coordenador,Campus,Título,Tipo de Evento,Descrição Sumária do Evento
1,Alan Teixeira de Oliveira,Almenara,NaN,NaN,NaN
2,Alex Lara Martins,Almenara,NaN,NaN,NaN
3,Alfredo Costa,Almenara,NaN,NaN,NaN
4,Daiane Prates Mendonça,Almenara,NaN,NaN,NaN
5,Danuza Araújo de Souza,Almenara,NaN,NaN,NaN
...,...,...,...,...,...
169,NaN,Teófilo Otoni,NaN,Palestra e Mesa Redonda,Cidadania e Participação Popular
170,NaN,Teófilo Otoni,NaN,Palestra e Mesa Redonda,Elaboração de Currículos e Ética Profissional
171,NaN,Teófilo Otoni,NaN,Palestra e Mesa Redonda,História e Cultura dos Povos Originários do Mé...
172,NaN,Teófilo Otoni,NaN,Palestra e Mesa Redonda,Cidadania e participação popular
173,NaN,Teófilo Otoni,NaN,Seminário,Semeando o Desenvolvimento

In [9]:
#AQUI EU PEGUEI A CONCATENAÇÃO PARCIAL FEITA ANTERIORMENTE E FIZ UM MERGE COM A 1° CONCATENAÇÃO QUE TIHA FICADO DE FORA
concatGERAL = grupopesquisaTOTAL.merge(concatPARCIAL,on="Nome do Coordenador")

#DROPEI COLUNAS INDEJESADAS, QUE ATRAPLAHAVA NA ESTETICA DO DATAFRAME FINAL
concatGERAL.drop(["Tipo de Evento","Descrição Sumária do Evento"], inplace=True, axis=1)

#DEFININDO O ÍNDICE PARA SE TORNAR A COLUNA CAMPUS 
concatGERAL.set_index("Campus",inplace=True)

#UM SORT PARA OS VALORES NULOS IREM PRO FINAL.
concatGERAL.sort_values(["Campus"],inplace=True)

#MOSTRANDO A CONCATENAÇÃO GERAL NA TELA
concatGERAL.head()

,INSTITUIÇÃO,GRUPO,Nome do Coordenador,ÁREA PREDOMINANTE,2º LÍDER,Título
Campus,,,,,,
ALMENARA,Instituto Federal de Educação Ciência e Tecnol...,Grupo de Estudo e Pesquisa em Grandes Culturas...,Edimilson Alves Barbosa,Agronomia,NaN,Levantamento e troca de experiências quanto ao...
ALMENARA,Instituto Federal de Educação Ciência e Tecnol...,Grupo de Estudo e Pesquisa em Grandes Culturas...,Edimilson Alves Barbosa,Agronomia,NaN,III Festival Intercampi de Culturas: Encantos ...
ALMENARA,Instituto Federal de Educação Ciência e Tecnol...,Estudos Aplicados em Inovação e Empreendedoris...,Paulo Eduardo Ferreira dos Santos,Zootecnia,NaN,Desenvolvendo o Empreendedorismo Local: Ações ...
ALMENARA,Instituto Federal de Educação Ciência e Tecnol...,Grupo Pesquisa em Grandes Culturas,Edimilson Alves Barbosa,Agronomia,NaN,Levantamento e troca de experiências quanto ao...
ALMENARA,Instituto Federal de Educação Ciência e Tecnol...,Grupo Pesquisa em Grandes Culturas,Edimilson Alves Barbosa,Agronomia,NaN,III Festival Intercampi de Culturas: Encantos ...

In [ ]:
#SALVANDO A CONCATENAÇÃO GERAL(QUESTÃO 01) COMO CSV. 
concatGERAL.to_csv(r"C:\Users\flavi\OneDrive\Área de Trabalho\concatGeral.csv", sep=",",encoding="UTF-8")

<h3><center>QUESTÃO 2 </center></h3>

In [10]:
#IMPORTANDO VIA URL 3 ANOS SOBRE OS DADOS REFERENTE A QUESTÃO 2
combustivel2017 = pd.read_csv('http://www.anp.gov.br/arquivos/dadosabertos/vc/vendas-gasolinaaviacao-municipio-2017.csv', encoding='iso-8859-1', sep = ';')
combustivel2016 = pd.read_csv('http://www.anp.gov.br/arquivos/dadosabertos/vc/vendas-gasolinaaviacao-municipio-2016.csv', encoding='iso-8859-1', sep = ';')
combustivel2015 = pd.read_csv('http://www.anp.gov.br/arquivos/dadosabertos/vc/vendas-gasolinaaviacao-municipio-2015.csv', encoding='iso-8859-1', sep = ';')

In [11]:
#CONCATENANDO OS 3 ANOS IMPORTADOS
concatCombustiveis = pd.concat([combustivel2017,combustivel2016,combustivel2015])
#DEIXANDO TUDO REGULARIZADO ENTRE O ESTADO E O ANO COM O USO DA FUNÇÃO SORT.
concatCombustiveis.sort_values(["ESTADO","ANO"])

      ANO      ESTADO  CÓDIGO IBGE                Município  Vendas
0    2015       Acre       1200203          CRUZEIRO DO SUL  253206
1    2015       Acre       1200401               RIO BRANCO  460844
2    2015       Acre       1200450         SENADOR GUIOMARD  175000
0    2016       Acre       1200203          CRUZEIRO DO SUL  225000
1    2016       Acre       1200302                    FEIJO   65000
..    ...         ...          ...                      ...     ...
542  2017  Tocantins       1710706               ITAGUATINS   35000
543  2017  Tocantins       1721000                   PALMAS  201000
544  2017  Tocantins       1716109     PARAISO DO TOCANTINS  126000
545  2017  Tocantins       1718204           PORTO NACIONAL  110000
546  2017  Tocantins       1718899  SANTA RITA DO TOCANTINS  347000

[1683 rows x 5 columns]

In [ ]:
#SALVANDO A CONCATENAÇÃO DE COMBUSTIVEIS(QUESTÃO 02) COMO JSON. 
concatCombustiveis.to_json(r'C:\Users\flavi\OneDrive\Área de Trabalho\concatCombustiveis.json', orient='split')